html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
